* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  background-image: url(./anh_hambur/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(33, 40, 50);
  height: 50vh;
}
.body__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 180px;
}
.header__link > span {
  display: flex;
  gap: 15px;
}
.header__icon {
  display: flex;
  gap: 10px;
}
.body__content {
  width: 40%;
  height: 100%;
  margin-left: 180px;
  margin-top: 190px;
}

.collor-white {
  color: white;
  margin-bottom: 30px;
}
img {
  width: 300px;
  margin-right: 50px;
}
.body__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  margin-left: 250px;
}
.button {
  width: 110px;
  height: 35px;
  background-color: rgb(255, 190, 52);
  color: rgb(250, 246, 226);
  border-radius: 18px;
  font-weight: bold;
}
h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
  font-size: 30px;
}
a:hover {
  color: yellow;
}
a {
  text-decoration: none;
}
.material-symbols-outlined {
  color: white;
}
