*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#imgBolt{
    height: 100px;
}

label{
    display: inline-block;
    min-width: 100px;
}
.addProduct{
    padding: 5px;
}
.saveBtn{
    padding: 10px;
    
}