* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
}
.loginCss {
  display: inline-block;
  width: 35%;
  margin: 50px auto;
  border: double 7px rgb(21, 0, 255);
  border-radius: 10px;
  padding: 20px;
}
.loginCss__home {
  position: relative;
  margin-bottom: 25px;
}
.material-symbols-outlined {
  position: absolute;
  right: 8px;
  top: 0;
}
label {
  font-size: 25px;
}
input {
  height: 35px;
  width: 98%;
  margin-bottom: 20px;
  border-radius: 5px;
  text-indent: 10px;
  font-size: 20px;
  border-color: #dbdb;
}
input:focus {
  background-color: antiquewhite;
}
.divBtn {
  text-align: center;
}
#loginBtn {
  height: 35px;
  width: 120px;
  background-color: rgb(233, 250, 149);
  font-size: 20px;
  border-radius: 5px;
}
#loginBtn:hover {
  color: rgb(0, 4, 247);
  font-weight: bold;
  cursor: pointer;
}
.material-symbols-outlined:hover {
  color: red;
  cursor: pointer;
}
.confirmSign {
  font-size: 20px;
  margin: 20px 0px 5px;
}
#signUpBtn {
  height: 35px;
  width: 120px;
  background-color: rgb(255, 1, 1);
  font-size: 20px;
  border-radius: 5px;
  color: white;
}

#signUpBtn:hover {
  font-weight: bold;
  cursor: pointer;
}