* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
}
.loginCss {
  display: flex;
  flex-direction: column;
  width: 35%;
  border: double 7px rgb(21, 0, 255);
  border-radius: 10px;
  padding: 15px;
  position: relative;
}
.loginCss__home {
  position: absolute;
  right: 0;
  margin-bottom: 25px;
}
.material-symbols-outlined {
  position: absolute;
  right: 8px;
  top: 0;
}
label {
  font-size: 20px;
}
#emailLabel {
  margin-top: 20px;
}
input {
  height: 35px;
  width: 100%;
  margin-bottom: 3px;
  border-radius: 5px;
  text-indent: 10px;
  font-size: 17px;
  border-color: #dbdb;
}
.hiddenDiv {
  text-align: right;
}
.hiddenSpan {
  visibility: hidden;
}
.notice {
  color: red;
}
input:focus {
  background-color: antiquewhite;
}
.divBtn {
  text-align: center;
}
#loginBtn {
  height: 35px;
  width: 100px;
  background-color: rgb(233, 250, 149);
  font-size: 17px;
  border-radius: 5px;
  margin-top: 10px;
}
#loginBtn:hover {
  color: rgb(0, 4, 247);
  font-weight: bold;
  cursor: pointer;
}
.material-symbols-outlined:hover {
  color: red;
  cursor: pointer;
}
.confirmSign {
  font-size: 17px;
  margin: 13px 0px 5px;
}
#signUpBtn {
  height: 35px;
  width: 100px;
  background-color: rgb(255, 1, 1);
  font-size: 17px;
  border-radius: 5px;
  color: white;
}
#signUpBtn:hover {
  font-weight: bold;
  cursor: pointer;
}
